<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Keranjang</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-cart-cards *ngFor="let item of cartData?.items" [item]="item" (cartUpdated)="onCartUpdated()"></app-cart-cards>

</ion-content>

<ion-footer class="ion-no-border" style="max-width: 960px; align-self: center;">
  <ion-toolbar style="padding: 0px 18px;">
    <div>
      <ion-text>
        <div>Total</div>
      </ion-text>
      <ion-text color="primary" class="price">
        Rp{{ cartData?.total || 0 | number:'1.0-0' }}
      </ion-text>
    </div>

    <div slot="end">
      <ion-button>Checkout ({{ cartData?.totalQuantity || 0 }})</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>