<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pesanan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="orders && orders.length > 0; else noOrders">
    <app-order-card *ngFor="let order of orders" [order]="order" (cardClick)="goToOrderDetail($event)"></app-order-card>
  </ng-container>

  <ng-template #noOrders>
    <div class="no-data-info">
      <ion-text>
        <h2>Tidak ada riwayat pesanan</h2>
        <p>Anda belum memiliki pesanan saat ini.</p>
      </ion-text>
    </div>
  </ng-template>

</ion-content>