<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pesanan</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <div>
        <ion-text>
          <sub>Tanggal - Jam</sub>
        </ion-text>
        <ion-text>
          <div class="ion-text-nowrap">The Macdonalds</div>
        </ion-text>
        <ion-text color="medium">1 barang</ion-text>
      </div>

      <div slot="end" style="display: contents;">

      </div>
    </ion-item>

    <ion-card-content style="display: flex; justify-content: space-between;">
      <!-- <div > -->
      <ion-text>Total Belanja</ion-text>
      <ion-text class="price-total">Rp 123.000</ion-text>
      <!-- </div> -->
    </ion-card-content>

  </ion-card>

</ion-content>