<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <div style="display: flex; gap: 78px;"> -->
    <ion-tab-button tab="home" href="/app/home">
      <ng-icon size="30" name="hugeHome03"></ng-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/app/cart">
      <ng-icon size="30" name="hugeShoppingCart01"></ng-icon>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/app/orders">
      <ng-icon size="30" name="hugeDocumentValidation"></ng-icon>
    </ion-tab-button>

    <ion-tab-button (click)="presentAlert()">
      <ng-icon size="30" name="hugeLogout03"></ng-icon>
    </ion-tab-button>
    <!-- </div> -->
  </ion-tab-bar>

</ion-tabs>