/* Ionic Variables and Theming
 * ---------------------------------------------------------------
 * Any overrides to theme variables should be placed in this file.
 * For more information, please see:
 * http://ionicframework.com/docs/theming/
 */

$dm: (
  sans-font: "DM Sans"
);

body {
  font-family: "DM Sans";
}

/* This sets a different item border color for the default theme on ios and md */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);

  --ion-color-primary: #ff6b61;
  --ion-color-primary-rgb: 255, 107, 97;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e05e55;
  --ion-color-primary-tint: #ff7a71;
}

/* This sets a different background and item background for the default theme on ios */
:root.ios {
  --ion-background-color: var(--ion-background-color-step-50, #F8FBFF);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different item background when dark mode is enabled on ios and md */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: #1c1c1d;
}

ion-content {
  max-width: 960px;
  align-self: center;
}

.item-input {
  display: grid;
  padding: 8px 22px;

  ion-input {
    border: 1px solid rgba(222.74999052286148, 226.12498462200165, 229.49999392032623, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 14px;
    height: 52px;
    padding-left: 22px !important;
  }

  ion-label {
    padding: 10px 22px;
  }

  .errorText {
    padding-left: 22px !important;
  }
}

ion-card {
  padding: 22px 11px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 20px 40px rgba(2.434897944331169, 31.751043051481247, 44.31510306894779, 0.05000000074505806);
}

ion-thumbnail {
  --border-radius: 14px;
}

.no-data-info {
  text-align: center;
  top: 40%;
  position: absolute;
  left: 0;
  right: 0;
}