<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Beranda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Beranda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="scrollmenu">

    <ion-card style="width: 200px;">
      <img style="height: 120px; object-fit: cover;" src="https://ionicframework.com/docs/img/demos/card-media.png" />

      <ion-card-content style="padding: 6px 0 0;">
        <ion-text color="dark">
          <div class="ion-text-nowrap">Big cheese burger</div>
          <div class="text-nowrap-two-line font-12">
            No 10 opp lekki phase 1 bridge in sangotedo estate1 bridge in sangotedo estate1 bridge in sangotedo estate
          </div>
        </ion-text>

        <ion-text color="primary" class="price">
          Rp 123.000
        </ion-text>
        <ion-text class="discount-price" color="medium">Rp 123.000</ion-text>
      </ion-card-content>
    </ion-card>

  </div>



  <ion-card style="padding-left: 0;">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </ion-thumbnail>
      <div>
        <ion-text>
          <div class="ion-text-nowrap" style="padding-bottom: 4px;">The Macdonalds</div>
        </ion-text>
        <ion-text class="text-nowrap-one-line">
          <div class="font-12">No 10 opp lekki phase 1 bridge in sangotedo estate
          </div>
        </ion-text>
        <ion-text color="primary" class="price">
          Rp 123.000
        </ion-text>
        <ion-text class="discount-price" color="medium">Rp 123.000</ion-text>
      </div>

    </ion-item>

  </ion-card>

</ion-content>